

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="0"
      photoCover="https://www.alura.com.br/artigos/assets/como-comecar-com-angular/como-comecar-com-angular.png"
      cardTitle="Resumo básico de angular"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et felis vel orci fermentum lacinia. Curabitur ornare condimentum massa, at scelerisque lacus interdum sed. Sed tempus eget ex ut venenatis."></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="1"
      cardPhoto="https://aquitemplacas.com.br/img/produtos/g/36-atencao-area-de-teste.jpg"
      cardTitle="Reumo básico de Angular"></app-small-card>
      <app-small-card
      Id="2"
      cardPhoto="https://aquitemplacas.com.br/img/produtos/g/36-atencao-area-de-teste.jpg"
      cardTitle="Reumo básico de Angular"></app-small-card>
      <app-small-card
      Id="3"
      cardPhoto="https://aquitemplacas.com.br/img/produtos/g/36-atencao-area-de-teste.jpg"
      cardTitle="Reumo básico de Angular"></app-small-card>
  </div>
</div>

